<!--&lt;!&ndash;<div class="mdl-grid" style="max-width: 800px">&ndash;&gt;-->
<!--&lt;!&ndash;<ul class="mdl-list" style="width: 100%">&ndash;&gt;-->
<!--&lt;!&ndash;<li class="mdl-list__item mdl-list__item&#45;&#45;three-line">&ndash;&gt;-->
<!--&lt;!&ndash;<span class="mdl-list__item-primary-content">&ndash;&gt;-->
<!--&lt;!&ndash;<div class="mdl-list__item-avatar">&ndash;&gt;-->
<!--&lt;!&ndash;<img src="../../assets/more-from-1.png">&ndash;&gt;-->
<!--&lt;!&ndash;</div>&ndash;&gt;-->
<!--&lt;!&ndash;<span>Bryan Cranston</span>&ndash;&gt;-->
<!--&lt;!&ndash;<span class="mdl-list__item-text-body">&ndash;&gt;-->
<!--&lt;!&ndash;Bryan Cranston played the role of Walter in Breaking Bad. He is also known&ndash;&gt;-->
<!--&lt;!&ndash;for playing Hal in Malcom in the Middle.&ndash;&gt;-->
<!--&lt;!&ndash;</span>&ndash;&gt;-->
<!--&lt;!&ndash;</span>&ndash;&gt;-->
<!--&lt;!&ndash;<span class="mdl-list__item-secondary-content">&ndash;&gt;-->
<!--&lt;!&ndash;<a class="mdl-list__item-secondary-action" href="#"><i class="material-icons">star</i></a>&ndash;&gt;-->
<!--&lt;!&ndash;</span>&ndash;&gt;-->
<!--&lt;!&ndash;</li>&ndash;&gt;-->
<!--&lt;!&ndash;<li class="mdl-list__item">&ndash;&gt;-->
<!--&lt;!&ndash;<span class="mdl-list__item-primary-content">&ndash;&gt;-->
<!--&lt;!&ndash;<span>Aaron Paul</span><br>&ndash;&gt;-->
<!--&lt;!&ndash;<span class="mdl-list__item-text-body" style="font-size: 12px">&ndash;&gt;-->
<!--&lt;!&ndash;Aaron Paul played the role of Jesse in Breaking Bad. He also featured in&ndash;&gt;-->
<!--&lt;!&ndash;the "Need For Speed" Movie.&ndash;&gt;-->
<!--&lt;!&ndash;</span>&ndash;&gt;-->
<!--&lt;!&ndash;</span>&ndash;&gt;-->
<!--&lt;!&ndash;<span class="mdl-list__item-secondary-content">&ndash;&gt;-->
<!--&lt;!&ndash;<a class="mdl-list__item-secondary-action" href="#"><i class="material-icons">star</i></a>&ndash;&gt;-->
<!--&lt;!&ndash;</span>&ndash;&gt;-->
<!--&lt;!&ndash;</li>&ndash;&gt;-->
<!--&lt;!&ndash;<li class="mdl-list__item">&ndash;&gt;-->
<!--&lt;!&ndash;<span class="mdl-list__item-primary-content">&ndash;&gt;-->
<!--&lt;!&ndash;<span>Aaron Paul</span><br>&ndash;&gt;-->
<!--&lt;!&ndash;<span class="mdl-list__item-text-body" style="font-size: 12px">&ndash;&gt;-->
<!--&lt;!&ndash;Aaron Paul played the role of Jesse in Breaking Bad. He also featured in&ndash;&gt;-->
<!--&lt;!&ndash;the "Need For Speed" Movie.&ndash;&gt;-->
<!--&lt;!&ndash;</span>&ndash;&gt;-->
<!--&lt;!&ndash;</span>&ndash;&gt;-->
<!--&lt;!&ndash;<span class="mdl-list__item-secondary-content">&ndash;&gt;-->
<!--&lt;!&ndash;<img class="mdl-list__item-secondary-action"&ndash;&gt;-->
<!--&lt;!&ndash;src="../../assets/more-from-1.png" style="max-width: 200px;">&ndash;&gt;-->
<!--&lt;!&ndash;</span>&ndash;&gt;-->
<!--&lt;!&ndash;</li>&ndash;&gt;-->
<!--&lt;!&ndash;</ul>&ndash;&gt;-->
<!--&lt;!&ndash;</div>&ndash;&gt;-->


<!--<div class="mdl-grid product-list" style="max-width: 800px">-->
<!--&lt;!&ndash;<div class="mdl-textfield mdl-js-textfield mdl-textfield&#45;&#45;floating-label">&ndash;&gt;-->
<!--&lt;!&ndash;<select class="mdl-textfield__input" id="octane" name="octane">&ndash;&gt;-->
<!--&lt;!&ndash;<option></option>&ndash;&gt;-->
<!--&lt;!&ndash;<option value="85">85</option>&ndash;&gt;-->
<!--&lt;!&ndash;<option value="87">87</option>&ndash;&gt;-->
<!--&lt;!&ndash;<option value="89">89</option>&ndash;&gt;-->
<!--&lt;!&ndash;<option value="91">91</option>&ndash;&gt;-->
<!--&lt;!&ndash;<option value="95">95</option>&ndash;&gt;-->
<!--&lt;!&ndash;<option value="98">98</option>&ndash;&gt;-->
<!--&lt;!&ndash;<option value="diesel">Diesel</option>&ndash;&gt;-->
<!--&lt;!&ndash;</select>&ndash;&gt;-->
<!--&lt;!&ndash;<label class="mdl-textfield__label" for="octane">Octane</label>&ndash;&gt;-->
<!--&lt;!&ndash;</div>&ndash;&gt;-->
<!--<div class="mdl-cell mdl-card mdl-cell&#45;&#45;12-col"></div>-->
<!--&lt;!&ndash;<div class="mdl-cell mdl-card mdl-cell&#45;&#45;12-col">&ndash;&gt;-->
<!--&lt;!&ndash;<div class="mdl-card__title">Aaaaaaaa</div>&ndash;&gt;-->
<!--&lt;!&ndash;<div class="mdl-card__thumbnail">&ndash;&gt;-->
<!--&lt;!&ndash;<img src="../../assets/more-from-1.png">&ndash;&gt;-->
<!--&lt;!&ndash;</div>&ndash;&gt;-->
<!--&lt;!&ndash;</div>&ndash;&gt;-->
<!--<div class="mdl-cell mdl-card mdl-cell&#45;&#45;12-col">-->
<!--<div class="mdl-card__title">-->
<!--<h2 class="mdl-card__title-text">Welcome</h2>-->
<!--</div>-->
<!--<div class="mdl-card__supporting-text">-->
<!--Lorem ipsum dolor sit amet, consectetur adipiscing elit.-->
<!--Mauris sagittis pellentesque lacus eleifend lacinia...-->
<!--</div>-->
<!--<div class="mdl-card__actions mdl-card&#45;&#45;border">-->
<!--<a class="mdl-button mdl-button&#45;&#45;colored mdl-js-button mdl-js-ripple-effect">-->
<!--Get Started-->
<!--</a>-->
<!--</div>-->
<!--</div>-->
<!--<div class="mdl-cell mdl-card mdl-cell&#45;&#45;4-col"-->
<!--style="background: url('../../assets/more-from-1.png') center / cover;">-->
<!--</div>-->
<!--</div>-->


<div class="company-item">
  <div class="meta">
    <div class="photo" style="background-image: url('../../assets/pic3.png')"></div>
  </div>
  <div class="description">
    <h1>Learning to Code</h1>
    <h2>Opening a door to the future</h2>
    <p> Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
    <p class="read-more">
      <a (click)="showSnackbar()" class="mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect read-more">
        Get retarded
      </a>
    </p>
  </div>
</div>
<div class="company-item alt">
  <div class="meta">
    <div class="photo" style="background-image: url('../../assets/pic3.png')"></div>
  </div>
  <div class="description">
    <h1>Mastering the Language</h1>
    <h2>Java is not the same as JavaScript</h2>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ad eum dolorum architecto obcaecati enim dicta
      praesentium, quam nobis! Neque ad aliquam facilis numquam. Veritatis, sit.</p>
    <p class="read-more">
      <a (click)="showSnackbar()" class="mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect read-more">
        Show snackbar
      </a>
    </p>
  </div>
</div>
<div class="company-item">
  <div class="meta">
    <div class="photo" style="background-image: url('../../assets/pic3.png')"></div>
  </div>
  <div class="description">
    <h1>Learning to Code</h1>
    <h2>Opening a door to the future</h2>
    <p> Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
    <p class="read-more">
      <a (click)="showSnackbar()" class="mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect read-more">
        Get retarded
      </a>
    </p>
  </div>
</div>
<div class="company-item alt">
  <div class="meta">
    <div class="photo" style="background-image: url('../../assets/pic3.png')"></div>
  </div>
  <div class="description">
    <h1>Mastering the Language</h1>
    <h2>Java is not the same as JavaScript</h2>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ad eum dolorum architecto obcaecati enim dicta
      praesentium, quam nobis! Neque ad aliquam facilis numquam. Veritatis, sit.</p>
    <p class="read-more">
      <a (click)="showSnackbar()" class="mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect read-more">
        Show snackbar
      </a>
    </p>
  </div>
</div>
<div class="company-item">
  <div class="meta">
    <div class="photo" style="background-image: url('../../assets/pic3.png')"></div>
  </div>
  <div class="description">
    <h1>Learning to Code</h1>
    <h2>Opening a door to the future</h2>
    <p> Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
    <p class="read-more">
      <a (click)="showSnackbar()" class="mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect read-more">
        Get retarded
      </a>
    </p>
  </div>
</div>
<div class="company-item alt">
  <div class="meta">
    <div class="photo" style="background-image: url('../../assets/pic3.png')"></div>
  </div>
  <div class="description">
    <h1>Mastering the Language</h1>
    <h2>Java is not the same as JavaScript</h2>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ad eum dolorum architecto obcaecati enim dicta
      praesentium, quam nobis! Neque ad aliquam facilis numquam. Veritatis, sit.</p>
    <p class="read-more">
      <a (click)="showSnackbar()" class="mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect read-more">
        Show snackbar
      </a>
    </p>
  </div>
</div>
<div class="company-item">
  <div class="meta">
    <div class="photo" style="background-image: url('../../assets/pic3.png')"></div>
  </div>
  <div class="description">
    <h1>Learning to Code</h1>
    <h2>Opening a door to the future</h2>
    <p> Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
    <p class="read-more">
      <a (click)="showSnackbar()" class="mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect read-more">
        Get retarded
      </a>
    </p>
  </div>
</div>
<div class="company-item alt">
  <div class="meta">
    <div class="photo" style="background-image: url('../../assets/pic3.png')"></div>
  </div>
  <div class="description">
    <h1>Mastering the Language</h1>
    <h2>Java is not the same as JavaScript</h2>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ad eum dolorum architecto obcaecati enim dicta
      praesentium, quam nobis! Neque ad aliquam facilis numquam. Veritatis, sit.</p>
    <p class="read-more">
      <a (click)="showSnackbar()" class="mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect read-more">
        Show snackbar
      </a>
    </p>
  </div>
</div>
<div class="company-item">
  <div class="meta">
    <div class="photo" style="background-image: url('../../assets/pic3.png')"></div>
  </div>
  <div class="description">
    <h1>Learning to Code</h1>
    <h2>Opening a door to the future</h2>
    <p> Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
    <p class="read-more">
      <a (click)="showSnackbar()" class="mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect read-more">
        Get retarded
      </a>
    </p>
  </div>
</div>
<div class="company-item alt">
  <div class="meta">
    <div class="photo" style="background-image: url('../../assets/pic3.png')"></div>
  </div>
  <div class="description">
    <h1>Mastering the Language</h1>
    <h2>Java is not the same as JavaScript</h2>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ad eum dolorum architecto obcaecati enim dicta
      praesentium, quam nobis! Neque ad aliquam facilis numquam. Veritatis, sit.</p>
    <p class="read-more">
      <a (click)="showSnackbar()" class="mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect read-more">
        Show snackbar
      </a>
    </p>
  </div>
</div>
<div class="company-item">
  <div class="meta">
    <div class="photo" style="background-image: url('../../assets/pic3.png')"></div>
  </div>
  <div class="description">
    <h1>Learning to Code</h1>
    <h2>Opening a door to the future</h2>
    <p> Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
    <p class="read-more">
      <a (click)="showSnackbar()" class="mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect read-more">
        Get retarded
      </a>
    </p>
  </div>
</div>
<div class="company-item alt">
  <div class="meta">
    <div class="photo" style="background-image: url('../../assets/pic3.png')"></div>
  </div>
  <div class="description">
    <h1>Mastering the Language</h1>
    <h2>Java is not the same as JavaScript</h2>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ad eum dolorum architecto obcaecati enim dicta
      praesentium, quam nobis! Neque ad aliquam facilis numquam. Veritatis, sit.</p>
    <p class="read-more">
      <a (click)="showSnackbar()" class="mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect read-more">
        Show snackbar
      </a>
    </p>
  </div>
</div>
<div class="company-item">
  <div class="meta">
    <div class="photo" style="background-image: url('../../assets/pic3.png')"></div>
  </div>
  <div class="description">
    <h1>Learning to Code</h1>
    <h2>Opening a door to the future</h2>
    <p> Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
    <p class="read-more">
      <a (click)="showSnackbar()" class="mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect read-more">
        Get retarded
      </a>
    </p>
  </div>
</div>
<div class="company-item alt">
  <div class="meta">
    <div class="photo" style="background-image: url('../../assets/pic3.png')"></div>
  </div>
  <div class="description">
    <h1>Mastering the Language</h1>
    <h2>Java is not the same as JavaScript</h2>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ad eum dolorum architecto obcaecati enim dicta
      praesentium, quam nobis! Neque ad aliquam facilis numquam. Veritatis, sit.</p>
    <p class="read-more">
      <a (click)="showSnackbar()" class="mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect read-more">
        Show snackbar
      </a>
    </p>
  </div>
</div>
