<div class="company-item">
  <div class="meta">
    <div class="photo" style="background-image: url('../../assets/pic3.png')"></div>
  </div>
  <div class="description">
    <h1>Learning to Code</h1>
    <h2>Opening a door to the future</h2>
    <p> Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
    <p class="read-more">
      <a [hidden]="shoppingCartService.cartContains('Product number 1')" (click)="shoppingCartService.addToCart('Product number 1')" class="mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect read-more">
        Add
      </a>
      <a [hidden]="!shoppingCartService.cartContains('Product number 1')" (click)="shoppingCartService.removeFromCart('Product number 1')" class="mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect read-more">
        Remove
      </a>
    </p>
  </div>
</div>
<div class="company-item alt">
  <div class="meta">
    <div class="photo" style="background-image: url('../../assets/pic3.png')"></div>
  </div>
  <div class="description">
    <h1>Mastering the Language</h1>
    <h2>Java is not the same as JavaScript</h2>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ad eum dolorum architecto obcaecati enim dicta
      praesentium, quam nobis! Neque ad aliquam facilis numquam. Veritatis, sit.</p>
    <p class="read-more">
      <a [hidden]="shoppingCartService.cartContains('Product number 2')" (click)="shoppingCartService.addToCart('Product number 2')" class="mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect read-more">
        Add
      </a>
      <a [hidden]="!shoppingCartService.cartContains('Product number 2')" (click)="shoppingCartService.removeFromCart('Product number 2')" class="mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect read-more">
        Remove
      </a>
    </p>
  </div>
</div>
<div class="company-item">
  <div class="meta">
    <div class="photo" style="background-image: url('../../assets/pic3.png')"></div>
  </div>
  <div class="description">
    <h1>Learning to Code</h1>
    <h2>Opening a door to the future</h2>
    <p> Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
    <p class="read-more">
      <a class="mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect read-more" href="">
        Get retarded
      </a>
    </p>
  </div>
</div>
<div class="company-item alt">
  <div class="meta">
    <div class="photo" style="background-image: url('../../assets/pic3.png')"></div>
  </div>
  <div class="description">
    <h1>Mastering the Language</h1>
    <h2>Java is not the same as JavaScript</h2>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ad eum dolorum architecto obcaecati enim dicta
      praesentium, quam nobis! Neque ad aliquam facilis numquam. Veritatis, sit.</p>
    <p class="read-more">
      <a class="mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect read-more" href="">
        Get retarded
      </a>
    </p>
  </div>
</div>
<div class="company-item">
  <div class="meta">
    <div class="photo" style="background-image: url('../../assets/pic3.png')"></div>
  </div>
  <div class="description">
    <h1>Learning to Code</h1>
    <h2>Opening a door to the future</h2>
    <p> Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
    <p class="read-more">
      <a class="mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect read-more" href="">
        Get retarded
      </a>
    </p>
  </div>
</div>
<div class="company-item alt">
  <div class="meta">
    <div class="photo" style="background-image: url('../../assets/pic3.png')"></div>
  </div>
  <div class="description">
    <h1>Mastering the Language</h1>
    <h2>Java is not the same as JavaScript</h2>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ad eum dolorum architecto obcaecati enim dicta
      praesentium, quam nobis! Neque ad aliquam facilis numquam. Veritatis, sit.</p>
    <p class="read-more">
      <a class="mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect read-more" href="">
        Get retarded
      </a>
    </p>
  </div>
</div>
<div class="company-item">
  <div class="meta">
    <div class="photo" style="background-image: url('../../assets/pic3.png')"></div>
  </div>
  <div class="description">
    <h1>Learning to Code</h1>
    <h2>Opening a door to the future</h2>
    <p> Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
    <p class="read-more">
      <a class="mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect read-more" href="">
        Get retarded
      </a>
    </p>
  </div>
</div>
<div class="company-item alt">
  <div class="meta">
    <div class="photo" style="background-image: url('../../assets/pic3.png')"></div>
  </div>
  <div class="description">
    <h1>Mastering the Language</h1>
    <h2>Java is not the same as JavaScript</h2>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ad eum dolorum architecto obcaecati enim dicta
      praesentium, quam nobis! Neque ad aliquam facilis numquam. Veritatis, sit.</p>
    <p class="read-more">
      <a class="mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect read-more" href="">
        Get retarded
      </a>
    </p>
  </div>
</div>
<div class="company-item">
  <div class="meta">
    <div class="photo" style="background-image: url('../../assets/pic3.png')"></div>
  </div>
  <div class="description">
    <h1>Learning to Code</h1>
    <h2>Opening a door to the future</h2>
    <p> Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
    <p class="read-more">
      <a class="mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect read-more" href="">
        Get retarded
      </a>
    </p>
  </div>
</div>
<div class="company-item alt">
  <div class="meta">
    <div class="photo" style="background-image: url('../../assets/pic3.png')"></div>
  </div>
  <div class="description">
    <h1>Mastering the Language</h1>
    <h2>Java is not the same as JavaScript</h2>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ad eum dolorum architecto obcaecati enim dicta
      praesentium, quam nobis! Neque ad aliquam facilis numquam. Veritatis, sit.</p>
    <p class="read-more">
      <a class="mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect read-more" href="">
        Get retarded
      </a>
    </p>
  </div>
</div>
<div class="company-item">
  <div class="meta">
    <div class="photo" style="background-image: url('../../assets/pic3.png')"></div>
  </div>
  <div class="description">
    <h1>Learning to Code</h1>
    <h2>Opening a door to the future</h2>
    <p> Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
    <p class="read-more">
      <a class="mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect read-more" href="">
        Get retarded
      </a>
    </p>
  </div>
</div>
