/* You can add global styles to this file, and also import other style files */
@import '~material-design-lite/dist/material.amber-blue.min.css';

.company-item {
  display: flex;
  margin: 1rem auto;
  flex-direction: row;
  max-width: 1200px;
}
.company-item a {
  color: inherit;
}
.company-item.alt {
  flex-direction: row-reverse;
}
.company-item.alt .description:before {
  left: inherit;
  right: -10px;
  -webkit-transform: skew(3deg);
          transform: skew(3deg);
}
.company-item.alt .details {
  padding-left: 25px;
}
.company-item .meta {
  position: relative;
  z-index: 0;
  flex-basis: 40%;
  height: auto;
}
.company-item .photo {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-size: cover;
  background-position: center;
  transition: -webkit-transform 0.2s;
  transition: transform 0.2s;
  transition: transform 0.2s, -webkit-transform 0.2s;
}
.company-item .description {
  padding: 1rem;
  background: #fff;
  position: relative;
  z-index: 1;
  flex-basis: 60%;
}
.company-item .description:before {
  -webkit-transform: skewX(-3deg);
          transform: skewX(-3deg);
  content: "";
  background: #fff;
  width: 30px;
  position: absolute;
  left: -10px;
  top: 0;
  bottom: 0;
  z-index: -1;
}
.company-item .description h1,
.company-item .description h2 {
  font-family: Poppins, sans-serif;
}
.company-item .description h1 {
  line-height: 1;
  margin: 0;
  font-size: 1.7rem;
}
.company-item .description h2 {
  font-size: 1rem;
  font-weight: 300;
  text-transform: uppercase;
  color: #a2a2a2;
  margin-top: 5px;
}
.company-item .description .read-more {
  text-align: right;
}
.company-item .description .read-more a {
  color: #5ad67d;
  display: inline-block;
  position: relative;
}
.company-item .description .read-more a:after {
  content: "\f061";
  margin-left: -10px;
  opacity: 0;
  vertical-align: middle;
  transition: margin 0.3s, opacity 0.3s;
}
.company-item p {
  position: relative;
  margin: 1rem 0 0;
}
.company-item p:first-of-type {
  margin-top: 1.25rem;
}

@media (min-width: 480px) {
  .mdl-snackbar {
    display: none;
  }
}

.shopping-cart {
  margin: 1rem auto;
  max-width: 1200px;
}

.company-list {
  max-width: 1200px;
}
