<div class="mdl-grid" style="max-width: 1200px">
  <div class="mdl-cell mdl-card mdl-shadow--2dp">
    <div class="mdl-card__title" style="background: url('../../assets/more-from-1.png') center / cover; height: 176px;">
      <h2 class="mdl-card__title-text">Welcome</h2>
    </div>
    <div class="mdl-card__supporting-text">
      Lorem ipsum dolor sit
    </div>
    <div class="mdl-card__actions mdl-card--border">
      <a class="mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect" href="/company/1">Get Started</a>
    </div>
  </div>
  <div class="mdl-cell mdl-card"></div>
  <div class="mdl-cell mdl-card"></div>
  <div class="mdl-cell mdl-card"></div>
  <div class="mdl-cell mdl-card"></div>
</div>
